#prompt {
  font-size: 7em;
  font-weight: bold;
  margin-left: 5em;
}

#sydney{
  position: absolute;
  float: left;
  height: 2500px;
  display: inline;
  margin-left: 60em;
}

#icons{
  float: right;
  margin-right: 70em;
}

 img {
  display: block;
  height: 700px;
  margin-bottom: 10em;

}

h1{
  font-family: "Palatino Linotype", "Book Antiqua", serif
}

.container {
  position: relative;
}


.navigation{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#forward{
  position: absolute;
  margin-left: 290em;
  height: 150px;
  bottom: 0;
}
